<!DOCTYPE html>
<html>
<head>
  {% load humanize %}    
  {% load static %}
  {% block contents %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  {% endblock %}
</head>
<body>
    <div class="card border-dark mb-4">
        <div class="card-header">
            <i class="fa-solid fa-list-ul"></i>
            <span class="chart-title-unit">검색 가능 기업 리스트</span>
        </div>
        <div class="card-body">
            <table class="table table-light">
                <thead class="thead-light">
                    <tr class="bold-text">
                        <th scope="col">기업명 (클릭 시 분석페이지로 이동합니다)</th>
                        <th scope="col">산업명</th>
                        <th scope="col">주식코드</th>
                        <th scope="col">홈페이지</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for company in company_list %}
                    <tr class="bold-text">
                        <td scope="row"> <a href="{% url 'search' %}?company_name={{ company.corp }}">{{ company.corp }}</a></td>
                        <td class="vertical-line"> {{ company.sector }}</td>
                        <td class="vertical-line"> {{ company.stock_code }}</td>
                        <td class="vertical-line">  <a href="{{ company.homepage }}" target="_blank">{{ company.homepage }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
</body>
</html>
