<!DOCTYPE html>
{% load static %}
{% load filters %}
{% with company=credit_analysis.0 %}
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i> Home</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-lg order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></button>

            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="GET" action="{% url 'search' %}">
                <div class="input-group">
                <input type="text" name="company_name" class="form-control" placeholder="기업 이름을 입력하세요">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">검색</button>
                </div>
                </div>
            </form>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav"> 
                            <div class="sb-sidenav-menu-heading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#00BFFF" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                <span style="color: #00BFFF;">기업정보</span>
                            </div>                              
                            <a class="nav-link" href="{% url 'company_info' company.corp|urlencode %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                기업개요    
                            </a>                                                                                                                 
                            <div class="sb-sidenav-menu-heading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#00BFFF" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                                <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                                </svg>
                                <span style="color: #00BFFF;">기업분석</span>
                            </div>
                            <a class="nav-link" href="{% url 'financial_analysis' company.corp|urlencode %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                재무분석
                            </a>                             
                            <a class="nav-link" href="{% url 'credit_analysis' company.corp|urlencode %}" style="color: red; font-weight: bold; font-size: 22px;">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                신용분석
                            </a>
                            <div class="sb-sidenav-menu-heading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#00BFFF" class="bi bi-table" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                                </svg>
                                <span style="color: #00BFFF;">상세지표</span>
                            </div>
                            <a class="nav-link" href="{% url 'financial_statements' company.corp|urlencode %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                재무제표
                            </a>
                            <a class="nav-link" href="{% url 'investment_indicator' company.corp|urlencode %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                투자지표
                            </a>
                            <a class="nav-link" href="{% url 'credit_indicator' company.corp|urlencode %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                신용지표
                            </a>
                        </div>
                    </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="w-100 px-4 d-flex align-items-center" style="margin-bottom: 12px;">
                            <div class="company-name-box w-25">
                                <h1 class="company-title">{{ company.corp }}</h1>
                            </div>
                        </div>
                        <div class="container-fluid d-flex"> 
                            <div class="w-50 px-2" style="margin-top: 5px;">        
                                <div class="card border-dark mb-4 card-equal-height">
                                    <div class="card-header bg-danger text-white">
                                        <i class="fas fa-table me-1"></i>
                                        <span class="chart-title-unit">"{{ company.corp }}" 기업 평가</span>
                                        <span class="chart-title-unit2"></span>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center mx-3 mt-1 larger-text">                    
                                            <p class="mb-0" style="font-size: 1.4em;">산업 분류: "{{ company.sector }}"</p>
                                        </div>
                                        <div class="d-flex align-items-center mx-3 mt-1 larger-text">                    
                                            <p class="mb-0" style="font-size: 1.4em;"><span class="highlighted-text">매출액</span> 판정 결과 : </p>
                                            <div class="rank-circle ml-2" data-rank="{{ cluster_label}}">
                                                {{ cluster_label}}
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mx-3 mt-1 larger-text">                    
                                            {% if rank != null %}
                                                <p class="mb-0" style="font-size: 1.4em;"><span class="highlighted-text">신용등급</span> 실제 값 : </p>
                                                <div class="rank-circle ml-2" data-rank="{{ rank }}">
                                                    {{ rank }}
                                                </div>
                                            {% else %}
                                                <p class="mb-0" style="font-size: 1.4em;"><span class="highlighted-text">신용등급</span> 예측 결과 : </p>
                                                <div class="rank-circle ml-2" data-rank="{{ predicted_rank }}">
                                                    {{ predicted_rank }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-50 px-2" style="margin-top: 5px;">      
                                <div class="card border-dark mb-4 card-equal-height">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        <span class="chart-title-unit">"{{ company.sector }}" 산업-매출액 규모별 판별 정도</span>
                                        <span class="chart-title-unit2"></span>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr class="bold-text">
                                                    <th scope="row">동일산업</th>
                                                    <th scope="col" class="vertical-line text-end">매출액 규모그룹</th>
                                                    <th scope="col" class="vertical-line text-end">해당그룹 신용등급 중앙값</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                {% for column in sector_credit_rating %}
                                                <tr class="bold-text">
                                                    {% for key, value in column.items %}
                                                        {% if forloop.first %}
                                                            <td scope="row">{{ value }}</td>
                                                        {% else %}
                                                            <td scope="row" class="vertical-line text-end">
                                                                {% if value == 1 %}
                                                                    JB
                                                                {% elif value == 2 %}
                                                                    BBB
                                                                {% elif value == 3 %}
                                                                    A-
                                                                {% elif value == 4 %}
                                                                    A
                                                                {% elif value == 5 %}
                                                                    A+
                                                                {% elif value == 6 %}
                                                                    AA-
                                                                {% elif value == 7 %}
                                                                    AA
                                                                {% elif value == 8 %}
                                                                    AA+
                                                                {% elif value == 9 %}
                                                                    AAA
                                                                {% else %}
                                                                    {{ value }}
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>                                        
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid d-flex">
                            <div class="w-100 px-2" style="margin-top: 5px;">
                                <div class="card border-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        <span class="chart-title-unit">산업 상관관계 TOP5</span>
                                        <span class="chart-title-unit2">(억원/%/%p)</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="centered-and-large-text">
                                            <span class="highlighted-text">{{ company.sector }}</span> 산업
                                            매출액 판정 <span class="highlighted-text">{{ cluster_label }}</span> 그룹의,
                                            신용등급과 상관관계가 높은 항목입니다.
                                        </p>
                                        <hr style="border-top: 3px solid black; margin: 1px 0;">
                                        {% if top_correlation.0.correlation|is_nan %}
                                            <p class="centered-and-large-text">
                                                <span class="highlighted-text" style="color: blue;">해당 그룹은 표본이 매우 적어 상관분석을 제공하지 않습니다.</span>
                                            </p>
                                        {% else %}
                                            <table class="table">
                                                <thead>
                                                    <tr class="bold-text">
                                                        <th scope="col">상관관계가 높은 계정값</th>
                                                        <th scope="col" class="vertical-line text-end">상관관계</th>
                                                        <th scope="col" class="vertical-line text-end">2018</th>
                                                        <th scope="col" class="vertical-line text-end">2019</th>
                                                        <th scope="col" class="vertical-line text-end">2020</th>
                                                        <th scope="col" class="vertical-line text-end">2021</th>
                                                        <th scope="col" class="vertical-line text-end">2022</th>
                                                        <th scope="col" class="vertical-line text-end">전년대비 %</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                    {% for credit_data, correlation_value in industry_correlation|zip_lists:top_correlation %}
                                                        <tr class="bold-text">
                                                            <td scope="row">{{ credit_data.label_ko }}</td> 
                                                            <td class="vertical-line text-end">{{ correlation_value.correlation|floatformat:2 }}</td>                                          
                                                            <td scope="row" class="vertical-line text-end">
                                                                {% if credit_data.number_2018 > 10000000 %}
                                                                    {{ credit_data.number_2018|div:"100000000" }}
                                                                {% else %}
                                                                    {{ credit_data.number_2018|div:"1" }}
                                                                {% endif %}
                                                            </td>
                                                            <td scope="row" class="vertical-line text-end">
                                                                {% if credit_data.number_2019 > 10000000 %}
                                                                    {{ credit_data.number_2019|div:"100000000" }}
                                                                {% else %}
                                                                    {{ credit_data.number_2019|div:"1" }}
                                                                {% endif %}
                                                            </td>
                                                            <td scope="row" class="vertical-line text-end">
                                                                {% if credit_data.number_2020 > 10000000 %}
                                                                    {{ credit_data.number_2020|div:"100000000" }}
                                                                {% else %}
                                                                    {{ credit_data.number_2020|div:"1" }}
                                                                {% endif %}
                                                            </td>
                                                            <td scope="row" class="vertical-line text-end">
                                                                {% if credit_data.number_2021 > 10000000 %}
                                                                    {{ credit_data.number_2021|div:"100000000" }}
                                                                {% else %}
                                                                    {{ credit_data.number_2021|div:"1" }}
                                                                {% endif %}
                                                            </td>
                                                            <td scope="row" class="vertical-line text-end">
                                                                {% if credit_data.number_2022 > 10000000 %}
                                                                    {{ credit_data.number_2022|div:"100000000" }}
                                                                {% else %}
                                                                    {{ credit_data.number_2022|div:"1" }}
                                                                {% endif %}
                                                            </td>
                                                            <td scope="row" class="vertical-line text-end" style="color: red;"> {{ credit_data.yoy|div:"1" }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>                                    
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid d-flex">
                            <div class="w-100 px-2" style="margin-top: 5px;">
                                <div class="card border-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        <span class="chart-title-unit">신용 지표 테이블</span>
                                        <span class="chart-title-unit2">(억원/%/%p)</span>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr class="bold-text">
                                                    <th scope="col">항목</th>
                                                    <th scope="col" class="vertical-line text-end">2018</th>
                                                    <th scope="col" class="vertical-line text-end">2019</th>
                                                    <th scope="col" class="vertical-line text-end">2020</th>
                                                    <th scope="col" class="vertical-line text-end">2021</th>
                                                    <th scope="col" class="vertical-line text-end">2022</th>
                                                    <th scope="col" class="vertical-line text-end">전년대비 %</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                {% for credit_data in summary %}
                                                    <tr class="bold-text">
                                                        <td scope="row">{{ credit_data.label_ko }}</td>
                                                        <td class="vertical-line text-end">{{ credit_data.number_2018|div:"1" }}</td>
                                                        <td class="vertical-line text-end">{{ credit_data.number_2019|div:"1" }}</td>
                                                        <td class="vertical-line text-end">{{ credit_data.number_2020|div:"1" }}</td>
                                                        <td class="vertical-line text-end">{{ credit_data.number_2021|div:"1" }}</td>
                                                        <td class="vertical-line text-end">{{ credit_data.number_2022|div:"1" }}</td>
                                                        <td class="vertical-line text-end" style="color: red;">{{ credit_data.yoy|div:"1" }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>                                                  
                                        </table>
                                    </div>
                                </div>
                            </div>    
                        </div>  
                     
                        <div class="container-fluid d-flex">
                            <div class="w-100 px-2" style="margin-top: 5px;">
                                <div class="card border-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        <span class="chart-title-unit">신용 등급 판별에 중요한 영향을 준 피쳐</span>
                                        <span class="chart-title-unit2">(억원/%/%p)</span>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr class="bold-text">
                                                    <th scope="col">항목</th>
                                                    <th scope="col" class="vertical-line text-end">2018</th>
                                                    <th scope="col" class="vertical-line text-end">2019</th>
                                                    <th scope="col" class="vertical-line text-end">2020</th>
                                                    <th scope="col" class="vertical-line text-end">2021</th>
                                                    <th scope="col" class="vertical-line text-end">2022</th>
                                                    <th scope="col" class="vertical-line text-end">전년대비 %</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                {% for credit_data in feature_importance %}
                                                    <tr class="bold-text">
                                                        <td scope="row"> {{ credit_data.label_ko }}</td>
                                                        <td scope="row" class="vertical-line text-end"> {{ credit_data.number_2018|div:"1" }}</td>
                                                        <td scope="row" class="vertical-line text-end"> {{ credit_data.number_2019|div:"1" }}</td>
                                                        <td scope="row" class="vertical-line text-end"> {{ credit_data.number_2020|div:"1" }}</td>
                                                        <td scope="row" class="vertical-line text-end"> {{ credit_data.number_2021|div:"1" }}</td>
                                                        <td scope="row" class="vertical-line text-end"> {{ credit_data.number_2022|div:"1" }}</td>
                                                        <td scope="row" class="vertical-line text-end" style="color: red;"> {{ credit_data.yoy|div:"1" }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>                                               
                                        </table>
                                    </div>
                                </div>
                            </div>    
                        </div>          
                    </div>
                </div>
                </main>
                <!-- <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer> -->
            </div>
        </div>
        
        <script>
            var corp = "{{ company.corp }}";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/datatables-simple.js' %}"></script>
        <script src="{% static 'assets/js/area.js' %}"></script>
    </body>
</html>
{% endwith %}