{% extends "base.html" %}
{% load humanize static %}   

{% block contents %}

<div class="form-container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <h1 class="mb-4">Company Analysis</h1>
  <div class="search-form">
    <form method="GET" action="{% url 'search' %}">
      <div class="input-group">
        <input type="text" name="company_name" class="form-control" placeholder="기업 이름을 입력하세요">
        <div class="input-group-append">
          <button type="submit" class="btn btn-dark">검색</button>
        </div>
      </div>
    </form>
  </div>

  <div class="company-list-button mt-3">
    <form action="{% url 'company_list' %}">
      <button class="btn btn-dark" type="submit">검색 가능한 기업 목록</button>
    </form>
  </div>
</div>
 

<style>
  body {
    background-image: url("{% static 'background.jpg' %}");
    background-size: cover;
    background-position: center;
  }
</style>
{% endblock %}
